In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot

In [3]:
df = pd.read_csv("../data/original/wfp_food_prices_database.csv", low_memory=False)

In [4]:
df.head(10)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN
5,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,6,2014,50.0,NaN
6,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,7,2014,50.0,NaN
7,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,8,2014,50.0,NaN
8,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,9,2014,50.0,NaN
9,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,10,2014,50.0,NaN

In [6]:
df.drop(axis=1, columns=["mp_commoditysource"], inplace=True)

In [7]:
df.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0

In [17]:
len(df.loc[(df["mp_year"] == 2020) & (df["mp_month"] == 1)])

19488

In [18]:
df.loc[(df["mp_year"] == 2020) & (df["mp_month"] == 1)]

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price
69,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2020,50.0000
275,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,84,Wheat - Retail,0.0,AFN,15,Retail,5,KG,1,2020,25.3750
431,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,145,Rice (low quality) - Retail,0.0,AFN,15,Retail,5,KG,1,2020,57.0000
501,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,274,Wage (qualified labour) - Retail,0.0,AFN,15,Retail,51,Day,1,2020,1000.0000
661,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,284,Fuel (diesel) - Retail,0.0,AFN,15,Retail,15,L,1,2020,51.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556066,270.0,Zambia,3434,Western,1462,Kalabo,71,Rice (local) - Retail,0.0,ZMW,15,Retail,5,KG,1,2020,18.0200
1556142,270.0,Zambia,3434,Western,1462,Kalabo,119,Groundnuts (shelled) - Retail,0.0,ZMW,15,Retail,5,KG,1,2020,31.6200
1556246,270.0,Zambia,3434,Western,1462,Kalabo,262,Beans (dry) - Retail,0.0,ZMW,15,Retail,5,KG,1,2020,12.2500
1556343,270.0,Zambia,3434,Western,1462,Kalabo,264,"Maize meal (white, roller) - Retail",0.0,ZMW,15,Retail,5,KG,1,2020,6.0960
1556442,270.0,Zambia,3434,Western,1462,Kalabo,265,"Maize meal (white, breakfast) - Retail",0.0,ZMW,15,Retail,5,KG,1,2020,5.5596

In [19]:
df = df.loc[(df["mp_year"] == 2020) & (df["mp_month"] == 1)]

In [24]:
df[df["cm_name"].str.contains('|'.join(["Maize"]))].cm_name.unique()

array(['Maize flour - Retail', 'Maize (yellow) - Wholesale',
       'Maize (white) - Retail', 'Maize - Wholesale',
       'Maize (local) - Retail', 'Maize (yellow) - Retail',
       'Maize - Retail', 'Maize (local) - Wholesale',
       'Maize (white) - Wholesale', 'Maize flour - Wholesale',
       'Maize meal - Retail', 'Maize (food aid) - Retail',
       'Maize meal (local) - Retail', 'Maize meal (imported) - Retail',
       'Maize meal (white, first grade) - Retail',
       'Maize meal (white, with bran) - Retail',
       'Maize meal (white, without bran) - Retail',
       'Maize flour (yellow) - Retail', 'Maize flour (white) - Wholesale',
       'Maize flour (white) - Retail', 'Maize flour (yellow) - Wholesale',
       'Maize (imported) - Retail', 'Maize meal (white, roller) - Retail',
       'Maize meal (white, breakfast) - Retail'], dtype=object)

In [27]:
df[df["cm_name"].str.contains('|'.join(["Rice"]))].cm_name.unique()

array(['Rice (low quality) - Retail', 'Rice (regular, milled) - Retail',
       'Rice (white) - Retail', 'Rice (coarse) - Retail',
       'Rice (medium grain) - Wholesale', 'Rice (medium grain) - Retail',
       'Rice (coarse, BR-8/ 11/, Guti Sharna) - Wholesale',
       'Rice (coarse, BR-8/ 11/, Guti Sharna) - Retail', 'Rice - Retail',
       'Rice - Wholesale', 'Rice (imported) - Retail',
       'Rice (local) - Retail',
       'Rice (ordinary, first quality) - Wholesale',
       'Rice (ordinary, second quality) - Wholesale',
       'Rice (Grano de Oro) - Retail', 'Rice (carolina 2da) - Retail',
       'Rice (carolina, 1st) - Retail', 'Rice (long grain) - Retail',
       'Rice (imported) - Wholesale',
       'Rice (high quality, local) - Retail',
       'Rice (low quality, local) - Retail',
       'Rice (mixed, low quality) - Wholesale',
       'Rice (mixed, low quality) - Retail', 'Rice (local) - Wholesale',
       'Rice (Indica) - Wholesale', 'Rice (Japonica) - Wholesale',
       'Rice (white) - Wholesale', 'Rice (paddy) - Wholesale',
       'Rice (high quality) - Wholesale',
       'Rice (denikassia, imported) - Retail',
       'Rice (ordinary, first quality) - Retail',
       'Rice (ordinary, second quality) - Retail',
       'Rice (long grain) - Wholesale',
       'Rice (paddy, long grain, local) - Retail',
       'Rice (long grain, imported) - Retail',
       'Rice (medium grain, imported) - Retail',
       'Rice (small grain, imported) - Retail',
       'Rice (basmati, broken) - Retail', 'Rice (tchako) - Retail',
       'Rice (glutinous, unmilled) - Retail',
       'Rice (glutinous, first quality) - Retail',
       'Rice (glutinous, second quality) - Retail',
       'Rice (ordinary, unmilled) - Retail',
       'Rice (imported, Egyptian) - Retail',
       'Rice (white, imported) - Retail',
       'Rice (long grain, Sinaloa) - Wholesale',
       'Rice (small grain, Morelos) - Wholesale',
       'Rice (Emata) - Wholesale', 'Rice (Emata) - Retail',
       'Rice (low quality) - Wholesale',
       'Rice (milled, local) - Wholesale',
       'Rice (regular, milled) - Wholesale',
       'Rice (milled, superior) - Wholesale',
       'Rice (milled, superior) - Retail',
       'Rice (long grain, high quality, local) - Retail',
       'Rice (red nadu) - Wholesale', 'Rice (red nadu) - Retail',
       'Rice (red) - Wholesale', 'Rice (red) - Retail',
       'Rice (short grain, low quality, local) - Retail'], dtype=object)

No Yams

In [28]:
df[df["cm_name"].str.contains('|'.join(["Yams"]))].cm_name.unique()

array([], dtype=object)

In [29]:
df[df["cm_name"].str.contains('|'.join(["Wheat"]))].cm_name.unique()

array(['Wheat - Retail', 'Wheat - Wholesale', 'Wheat flour - Retail',
       'Wheat flour - Wholesale', 'Wheat flour (imported) - Retail',
       'Wheat flour (local) - Wholesale',
       'Wheat flour (imported) - Wholesale',
       'Wheat flour (first grade) - Wholesale',
       'Wheat (imported) - Wholesale', 'Wheat (white) - Retail',
       'Wheat (mixed) - Retail', 'Wheat (food aid) - Retail',
       'Wheat flour (first grade) - Retail',
       'Wheat flour (local) - Retail',
       'Wheat flour (high grade) - Wholesale',
       'Wheat flour (locally processed) - Retail',
       'Wheat flour (high quality) - Retail'], dtype=object)

In [30]:
df[df["cm_name"].str.contains('|'.join(["Tomatoes"]))].cm_name.unique()

array(['Tomatoes - Retail', 'Tomatoes (paste) - Retail',
       'Tomatoes - Wholesale', 'Tomatoes (local) - Wholesale',
       'Tomatoes (dried) - Wholesale', 'Tomatoes (greenhouse) - Retail'],
      dtype=object)

In [31]:
df[df["cm_name"].str.contains('|'.join(["Tea"]))].cm_name.unique()

array(['Tea (black) - Retail', 'Tea - Retail', 'Tea (green) - Retail',
       'Tea (herbal) - Retail'], dtype=object)

In [33]:
df[df["cm_name"].str.contains('|'.join(["Sweet potatoes"]))].cm_name.unique()

array(['Sweet potatoes - Retail'], dtype=object)

No Sunflower Seeds

In [36]:
df[df["cm_name"].str.contains('|'.join(["Sunflower"]))].cm_name.unique()

array([], dtype=object)

No Sugar Cane

In [39]:
df[df["cm_name"].str.contains('|'.join(["Sugar"]))].cm_name.unique()

array(['Sugar (white) - Retail', 'Sugar - Retail',
       'Sugar (jaggery/gur) - Retail', 'Sugar - Wholesale',
       'Sugar (white) - Wholesale', 'Sugar (brown) - Wholesale',
       'Sugar (brown, loaf) - Wholesale', 'Sugar (brown) - Retail',
       'Sugar (brown, local) - Retail',
       'Sugar (brown, imported) - Retail'], dtype=object)

In [40]:
df[df["cm_name"].str.contains('|'.join(["Soybeans"]))].cm_name.unique()

array(['Soybeans - Retail', 'Soybeans - Wholesale'], dtype=object)

No Rye

In [46]:
df[df["cm_name"].str.contains('|'.join(["Ry"]))].cm_name.unique()

array([], dtype=object)

In [52]:
df[df["cm_name"].str.contains('|'.join(["Potato"]))].cm_name.unique()

array(['Potatoes - Retail', 'Potatoes (Irish, imilla) - Wholesale',
       'Potatoes (Irish, imilla) - Retail', 'Potatoes (Irish) - Retail',
       'Potatoes (black) - Wholesale', 'Potatoes - Wholesale',
       'Potatoes (Irish) - Wholesale', 'Potatoes (red) - Retail',
       'Potatoes (local) - Wholesale', 'Potatoes (local) - Retail',
       'Potatoes (imported) - Wholesale', 'Potatoes (imported) - Retail',
       'Potatoes (medium size) - Retail'], dtype=object)

In [54]:
df[df["cm_name"].str.contains('|'.join(["Orange"]))].cm_name.unique()

array(['Oranges - Retail', 'Oranges (big size) - Wholesale',
       'Oranges - Wholesale', 'Oranges (big size) - Retail'], dtype=object)

In [55]:
df[df["cm_name"].str.contains('|'.join(["Pea"]))].cm_name.unique()

array(['Peas (split, dry) - Retail', 'Peanut - Retail',
       'Peas (green, dry) - Wholesale', 'Peas (fresh) - Wholesale',
       'Peas - Retail', 'Peas (green, dry) - Retail',
       'Peas (yellow, split) - Retail'], dtype=object)

In [61]:
df[df["cm_name"].str.contains('|'.join(["palm"]))].cm_name.unique()

array(['Oil (palm) - Retail'], dtype=object)

No Grapes

In [64]:
df[df["cm_name"].str.contains('|'.join(["grapes"]))].cm_name.unique()

array([], dtype=object)

In [65]:
df[df["cm_name"].str.contains('|'.join(["Coffee"]))].cm_name.unique()

array(['Coffee - Wholesale', 'Coffee - Retail',
       'Coffee (instant) - Retail'], dtype=object)

In [ ]:
df[df["cm_name"].str.contains('|'.join(["Coffee"]))].cm_name.unique()

In [66]:
df[df["cm_name"].str.contains('|'.join(["Cocoa"]))].cm_name.unique()

array(['Cocoa - Wholesale', 'Cocoa - Retail', 'Cocoa (powder) - Retail'],
      dtype=object)

In [67]:
df[df["cm_name"].str.contains('|'.join(["Meat"]))].cm_name.unique()

array(['Meat (beef) - Retail', 'Meat (chicken) - Retail',
       'Meat (pork) - Retail', 'Meat (chicken, whole) - Wholesale',
       'Meat (chicken, whole) - Retail', 'Meat (goat) - Retail',
       'Meat (pork, with fat) - Retail',
       'Meat (pork, with fat) - Wholesale', 'Meat (chicken) - Wholesale',
       'Meat (pork) - Wholesale', 'Meat (beef) - Wholesale',
       'Meat (chicken, whole, frozen) - Wholesale',
       'Meat (chicken, frozen) - Retail',
       'Meat (goat, with bones) - Retail',
       'Meat (beef, without bones) - Retail', 'Meat (mutton) - Retail',
       'Meat (beef, chops with bones) - Wholesale',
       'Meat (chicken, broiler) - Retail', 'Meat (lamb) - Retail',
       'Meat (beef, first quality) - Retail',
       'Meat (beef, second quality) - Retail',
       'Meat (buffalo, first quality) - Retail',
       'Meat (buffalo, second quality) - Retail',
       'Meat (pork, first quality) - Retail',
       'Meat (pork, second quality) - Retail',
       'Meat (beef, canned) - Retail',
       'Meat (chicken, whole, frozen) - Retail', 'Meat (camel) - Retail',
       'Meat (beef, minced) - Retail', 'Meat (chicken, plucked) - Retail',
       'Meat (veal) - Retail'], dtype=object)

In [68]:
df[df["cm_name"].str.contains('|'.join(["Banana"]))].cm_name.unique()

array(['Bananas - Retail', 'Bananas - Wholesale',
       'Bananas (medium size) - Retail'], dtype=object)

In [69]:
df[df["cm_name"].str.contains('|'.join(["Avocado"]))].cm_name.unique()

array(['Avocados - Retail'], dtype=object)

In [ ]:
df[df["cm_name"].str.contains('|'.join(["Avocado"]))].cm_name.unique()

In [70]:
df[df["cm_name"].str.contains('|'.join(["Apple"]))].cm_name.unique()

array(['Apples (red) - Retail', 'Apples - Retail',
       'Apples (dried) - Retail'], dtype=object)