In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot

In [2]:
df = pd.read_csv("../data/original/world food production.csv")
# df_population = pd.read_csv("./data/world_population.csv")
# df_food_price = pd.read_csv("./data/wfp_food_prices_database.csv")
# df_currency_rates = pd.read_csv("./data/currency_to_usd.csv")

In [3]:
df.head(10)

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.0,7467702.0,2279000.0,1873812.0,56315.0,3270871.0,12000.0,...,10100.0,232910.0,1131882.0,225000.0,870970.0,835368.0,5600.0,3139079.0,63439.0,15100.0
1,Afghanistan,1962,700000.0,319000.0,7420515.0,2279000.0,2044797.0,61519.0,3562524.0,12800.0,...,10100.0,259412.0,1111006.0,225000.0,883512.0,867170.0,6000.0,3181580.0,65118.0,15100.0
2,Afghanistan,1963,713000.0,319000.0,8479074.0,1947000.0,2096077.0,63596.0,3409916.0,12800.0,...,10100.0,251529.0,1145004.0,225000.0,996674.0,922621.0,6160.0,3304256.0,61760.0,15100.0
3,Afghanistan,1964,720000.0,380000.0,9113779.0,2230000.0,2388264.0,66604.0,3229336.0,12800.0,...,12400.0,247556.0,1160831.0,265000.0,1162048.0,1190061.0,6400.0,3392527.0,62759.0,18400.0
4,Afghanistan,1965,720000.0,380000.0,10067913.0,2282000.0,2559608.0,72418.0,3169104.0,13200.0,...,13700.0,266947.0,1138860.0,287000.0,1075084.0,874245.0,6800.0,3450849.0,66269.0,20400.0
5,Afghanistan,1966,720000.0,337000.0,10863614.0,2033000.0,2690984.0,90272.0,3214807.0,14000.0,...,15300.0,280862.0,1151649.0,315000.0,1199529.0,969648.0,7200.0,3563461.0,68331.0,22800.0
6,Afghanistan,1967,768000.0,396000.0,12123091.0,2280000.0,2580187.0,86111.0,3556573.0,14000.0,...,18500.0,275066.0,1100007.0,372000.0,1085561.0,982906.0,7600.0,3603535.0,71416.0,27600.0
7,Afghanistan,1968,773000.0,402000.0,12840044.0,2354000.0,2799236.0,100736.0,3601209.0,14400.0,...,18700.0,293310.0,1154021.0,375000.0,1183868.0,855617.0,8000.0,3732902.0,73906.0,27900.0
8,Afghanistan,1969,785000.0,407000.0,14496418.0,2454000.0,3001560.0,114363.0,3760912.0,14800.0,...,18900.0,274316.0,1195096.0,379000.0,1253504.0,1004663.0,9600.0,3914729.0,76704.0,28200.0
9,Afghanistan,1970,667000.0,366000.0,16413323.0,2081000.0,3111482.0,121398.0,4558892.0,14000.0,...,18300.0,284651.0,1077079.0,364000.0,1295001.0,1120835.0,9600.0,4076156.0,78464.0,27300.0

In [4]:
df.shape

(11912, 24)

In [5]:
df.isna().sum()

Entity                                 0
Year                                   0
Maize Production (tonnes)              0
Rice  Production ( tonnes)             0
Yams  Production (tonnes)              0
Wheat Production (tonnes)              0
Tomatoes Production (tonnes)           0
Tea  Production ( tonnes )             0
Sweet potatoes  Production (tonnes)    0
Sunflower seed  Production (tonnes)    0
Sugar cane Production (tonnes)         0
Soybeans  Production (tonnes)          0
Rye  Production (tonnes)               0
Potatoes  Production (tonnes)          0
Oranges  Production (tonnes)           0
Peas, dry Production ( tonnes)         0
Palm oil  Production (tonnes)          0
Grapes  Production (tonnes)            0
Coffee, green Production ( tonnes)     0
Cocoa beans Production (tonnes)        0
Meat, chicken  Production (tonnes)     0
Bananas  Production ( tonnes)          0
Avocados Production (tonnes)           0
Apples Production (tonnes)             0
dtype: int64

In [6]:
df["Year"].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [7]:
len(df[df["Year"] == 2018])

214

In [8]:
df["Entity"].nunique()

226

In [9]:
df.groupby(["Year"])["Year"].count() == 215 #used .max() to find out the highest value - using 2020 as the year.

Year
1961    False
1962    False
1963    False
1964    False
1965    False
        ...
2017    False
2018    False
2019    False
2020     True
2021     True
Name: Year, Length: 61, dtype: bool

In [10]:
df = df[df["Year"] == 2020]

In [11]:
df.shape

(215, 24)

In [12]:
df.head()

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
59,Afghanistan,2020,271776.0,439549.00,73082370.00,5185000.0,22085254.0,324892.0,28633560.0,387.00,...,3001.0,576615.4,3046042.5,993382.0,1431087.40,3987015.00,27753.95,22140154.0,1057604.1,270857.0
120,Africa,2020,93972616.0,36201644.00,73082370.00,25367622.0,22085254.0,874875.0,28633560.0,2475402.80,...,10711771.0,576615.4,0.0,4384222.5,1431087.40,3987015.00,6953742.50,22140154.0,1057604.1,3281976.8
181,Africa (FAO),2020,93972616.0,36201644.00,1046000.20,25367622.0,313109.0,23387.0,3407223.8,2475402.80,...,10711771.0,11026.8,3303376.0,4384222.5,6090466.00,989628.80,6953742.50,19305228.0,5701208.5,3281976.8
242,Albania,2020,399125.0,0.00,138.97,233430.0,1635616.2,6133.0,1749832.0,1259.00,...,12436.0,5889419.0,42000.0,199069.0,12630.45,442.41,12233.91,275000.0,4150.6,102167.0
303,Algeria,2020,3221.0,314.75,184457.61,3106754.0,23931084.0,1028.0,69.8,84.66,...,1174845.2,195676.0,53365516.0,554201.1,3233289.50,760439.56,257787.10,136.1,1099595.8,566823.5

Remove Yams, Sunflower Seeds, Sugar cane, Rye, Grapes

The Food Price dataset does not contain the above food items

In [18]:
df.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')

In [19]:
df.columns[10]

'Sugar cane Production (tonnes)'

In [21]:
df.drop(df.columns[[4, 9, 10, 12, 17]],axis = 1, inplace=True)

In [22]:
df.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Wheat Production (tonnes)',
       'Tomatoes Production (tonnes)', 'Tea  Production ( tonnes )',
       'Sweet potatoes  Production (tonnes)', 'Soybeans  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Coffee, green Production ( tonnes)', 'Cocoa beans Production (tonnes)',
       'Meat, chicken  Production (tonnes)', 'Bananas  Production ( tonnes)',
       'Avocados Production (tonnes)', 'Apples Production (tonnes)'],
      dtype='object')

In [43]:
df.iloc[1]

Entity                                   Albania
Year                                        2020
Maize Production (tonnes)               399125.0
Rice  Production ( tonnes)                   0.0
Wheat Production (tonnes)               233430.0
Tomatoes Production (tonnes)           1635616.2
Tea  Production ( tonnes )                6133.0
Sweet potatoes  Production (tonnes)    1749832.0
Soybeans  Production (tonnes)            14711.0
Potatoes  Production (tonnes)           254886.0
Oranges  Production (tonnes)             12436.0
Peas, dry Production ( tonnes)         5889419.0
Palm oil  Production (tonnes)            42000.0
Coffee, green Production ( tonnes)      12630.45
Cocoa beans Production (tonnes)           442.41
Meat, chicken  Production (tonnes)      12233.91
Bananas  Production ( tonnes)           275000.0
Avocados Production (tonnes)              4150.6
Apples Production (tonnes)              102167.0
Name: 242, dtype: object

Removing all the continents and parts of continents that would actually be the sum of its consituent countries

In [36]:
df.drop(df[df["Entity"].str.contains("Asia") | df["Entity"].str.contains("Africa") | df["Entity"].str.contains("Europe") | df["Entity"].str.contains("America")].index, inplace=True)

In [37]:
df.shape

(185, 19)

In [41]:
country_production_stats = []

In [42]:
class CountryStat:
    def __init__(self, country_name, ordered_crop) -> None:
        self.country_name = country_name
        self.ordered_crop = ordered_crop

In [47]:
for i in range(df.shape[0]):
    country_stat = CountryStat(df.iloc[i]["Entity"], [])
    for food in df.columns[2:]:
        country_stat.ordered_crop.append({"crop_name": food, "crop_quantity": df.iloc[i][food]})
    country_stat.ordered_crop.sort(key=lambda x: x["crop_quantity"], reverse=True)
    country_production_stats.append(country_stat)

In [48]:
country_production_stats

[<__main__.CountryStat at 0x1f9e1e6dc90>,
 <__main__.CountryStat at 0x1f9e2174950>,
 <__main__.CountryStat at 0x1f9e21c55d0>,
 <__main__.CountryStat at 0x1f9e21c77d0>,
 <__main__.CountryStat at 0x1f9e21c4c50>,
 <__main__.CountryStat at 0x1f9e21c5610>,
 <__main__.CountryStat at 0x1f9e21c6c90>,
 <__main__.CountryStat at 0x1f9e21b9a90>,
 <__main__.CountryStat at 0x1f9e21b9410>,
 <__main__.CountryStat at 0x1f9e21ba750>,
 <__main__.CountryStat at 0x1f9e21ba5d0>,
 <__main__.CountryStat at 0x1f9e21b9ed0>,
 <__main__.CountryStat at 0x1f9e21bb590>,
 <__main__.CountryStat at 0x1f9e1e32f90>,
 <__main__.CountryStat at 0x1f9e21a0910>,
 <__main__.CountryStat at 0x1f9e21a2510>,
 <__main__.CountryStat at 0x1f9e21a0b50>,
 <__main__.CountryStat at 0x1f9e21a28d0>,
 <__main__.CountryStat at 0x1f9e21a23d0>,
 <__main__.CountryStat at 0x1f9e21a2e90>,
 <__main__.CountryStat at 0x1f9e21a34d0>,
 <__main__.CountryStat at 0x1f9e218a990>,
 <__main__.CountryStat at 0x1f9e2189150>,
 <__main__.CountryStat at 0x1f9e218ab10>,
 <__main__.CountryStat at 0x1f9e2188b90>,
 <__main__.CountryStat at 0x1f9e218b410>,
 <__main__.CountryStat at 0x1f9de4e84d0>,
 <__main__.CountryStat at 0x1f9e2187050>,
 <__main__.CountryStat at 0x1f9e2187810>,
 <__main__.CountryStat at 0x1f9e2187750>,
 <__main__.CountryStat at 0x1f9e21863d0>,
 <__main__.CountryStat at 0x1f9e2186690>,
 <__main__.CountryStat at 0x1f9e2185890>,
 <__main__.CountryStat at 0x1f9e218b190>,
 <__main__.CountryStat at 0x1f9e2189f50>,
 <__main__.CountryStat at 0x1f9e218acd0>,
 <__main__.CountryStat at 0x1f9e21a2710>,
 <__main__.CountryStat at 0x1f9e2189d90>,
 <__main__.CountryStat at 0x1f9e2192f10>,
 <__main__.CountryStat at 0x1f9e2193490>,
 <__main__.CountryStat at 0x1f9e2192fd0>,
 <__main__.CountryStat at 0x1f9e2192390>,
 <__main__.CountryStat at 0x1f9e2192650>,
 <__main__.CountryStat at 0x1f9e21921d0>,
 <__main__.CountryStat at 0x1f9e2191d10>,
 <__main__.CountryStat at 0x1f9e2191590>,
 <__main__.CountryStat at 0x1f9e2191190>,
 <__main__.CountryStat at 0x1f9e2190dd0>,
 <__main__.CountryStat at 0x1f9e2190510>,
 <__main__.CountryStat at 0x1f9e21971d0>,
 <__main__.CountryStat at 0x1f9e2194110>,
 <__main__.CountryStat at 0x1f9e2196810>,
 <__main__.CountryStat at 0x1f9e1cd3b50>,
 <__main__.CountryStat at 0x1f9b55d3cd0>,
 <__main__.CountryStat at 0x1f9e2170190>,
 <__main__.CountryStat at 0x1f9e2172cd0>,
 <__main__.CountryStat at 0x1f9e2172bd0>,
 <__main__.CountryStat at 0x1f9e2171cd0>,
 <__main__.CountryStat at 0x1f9e2171010>,
 <__main__.CountryStat at 0x1f9e2172b90>,
 <__main__.CountryStat at 0x1f9e21718d0>,
 <__main__.CountryStat at 0x1f9e2170050>,
 <__main__.CountryStat at 0x1f9e2172fd0>,
 <__main__.CountryStat at 0x1f9e216f790>,
 <__main__.CountryStat at 0x1f9e216f9d0>,
 <__main__.CountryStat at 0x1f9e216fe10>,
 <__main__.CountryStat at 0x1f9e216f610>,
 <__main__.CountryStat at 0x1f9e216ef90>,
 <__main__.CountryStat at 0x1f9e1328110>,
 <__main__.CountryStat at 0x1f9e1bc3a50>,
 <__main__.CountryStat at 0x1f9e2123e10>,
 <__main__.CountryStat at 0x1f9e2120bd0>,
 <__main__.CountryStat at 0x1f9e2123c90>,
 <__main__.CountryStat at 0x1f9e2122510>,
 <__main__.CountryStat at 0x1f9e2123950>,
 <__main__.CountryStat at 0x1f9e2121810>,
 <__main__.CountryStat at 0x1f9e21209d0>,
 <__main__.CountryStat at 0x1f9e2120250>,
 <__main__.CountryStat at 0x1f9e2123650>,
 <__main__.CountryStat at 0x1f9e2123450>,
 <__main__.CountryStat at 0x1f9e2122450>,
 <__main__.CountryStat at 0x1f9e2176150>,
 <__main__.CountryStat at 0x1f9e2175d50>,
 <__main__.CountryStat at 0x1f9e2175e90>,
 <__main__.CountryStat at 0x1f9e21774d0>,
 <__main__.CountryStat at 0x1f9e2177f50>,
 <__main__.CountryStat at 0x1f9e2174410>,
 <__main__.CountryStat at 0x1f9e2176290>,
 <__main__.CountryStat at 0x1f9e2175350>,
 <__main__.CountryStat at 0x1f9e21744d0>,
 <__main__.CountryStat at 0x1f9e2174dd0>,
 <__main__.CountryStat at 0x1f9e21742d0>,
 <__main__.CountryStat at 0x1f9e2176b90>,
 <__main__.CountryStat at 0x1f9e2163b10>,
 <__main__.CountryStat at 0x1f9e2163c10>,
 <__main__.CountryStat at 0x1f9e2163a10>,
 <__main__.CountryStat at 0x1f9e2163310>,
 <__main__.CountryStat at 0x1f9e2163050>,
 <__main__.CountryStat at 0x1f9e2162b50>,
 <__main__.CountryStat at 0x1f9e2160510>,
 <__main__.CountryStat at 0x1f9e2161a10>,
 <__main__.CountryStat at 0x1f9e2161050>,
 <__main__.CountryStat at 0x1f9e2161910>,
 <__main__.CountryStat at 0x1f9e2163b50>,
 <__main__.CountryStat at 0x1f9de3ed210>,
 <__main__.CountryStat at 0x1f9e2114690>,
 <__main__.CountryStat at 0x1f9e2116610>,
 <__main__.CountryStat at 0x1f9e21140d0>,
 <__main__.CountryStat at 0x1f9e2116010>,
 <__main__.CountryStat at 0x1f9e2115ed0>,
 <__main__.CountryStat at 0x1f9e207c9d0>,
 <__main__.CountryStat at 0x1f9e215d350>,
 <__main__.CountryStat at 0x1f9e215e210>,
 <__main__.CountryStat at 0x1f9e215fc90>,
 <__main__.CountryStat at 0x1f9e215f450>,
 <__main__.CountryStat at 0x1f9e215d810>,
 <__main__.CountryStat at 0x1f9e215d5d0>,
 <__main__.CountryStat at 0x1f9e215d190>,
 <__main__.CountryStat at 0x1f9e215d510>,
 <__main__.CountryStat at 0x1f9e215f890>,
 <__main__.CountryStat at 0x1f9de4a0dd0>,
 <__main__.CountryStat at 0x1f9de58cf90>,
 <__main__.CountryStat at 0x1f9e1f4c650>,
 <__main__.CountryStat at 0x1f9e1f4c750>,
 <__main__.CountryStat at 0x1f9e1ca40d0>,
 <__main__.CountryStat at 0x1f9e2059210>,
 <__main__.CountryStat at 0x1f9e205bb10>,
 <__main__.CountryStat at 0x1f9e2059c10>,
 <__main__.CountryStat at 0x1f9e2059ad0>,
 <__main__.CountryStat at 0x1f9e07fc210>,
 <__main__.CountryStat at 0x1f9dd27ce10>,
 <__main__.CountryStat at 0x1f9e1e6ee10>,
 <__main__.CountryStat at 0x1f9e1b80bd0>,
 <__main__.CountryStat at 0x1f9e20d8e10>,
 <__main__.CountryStat at 0x1f9e20d8610>,
 <__main__.CountryStat at 0x1f9e20d8c10>,
 <__main__.CountryStat at 0x1f9e20d8b50>,
 <__main__.CountryStat at 0x1f9e20da150>,
 <__main__.CountryStat at 0x1f9e20db950>,
 <__main__.CountryStat at 0x1f9e20db050>,
 <__main__.CountryStat at 0x1f9e20d9850>,
 <__main__.CountryStat at 0x1f9e20d97d0>,
 <__main__.CountryStat at 0x1f9e1e32790>,
 <__main__.CountryStat at 0x1f9e1e31310>,
 <__main__.CountryStat at 0x1f9e1e56710>,
 <__main__.CountryStat at 0x1f9e1e55750>,
 <__main__.CountryStat at 0x1f9e1e60290>,
 <__main__.CountryStat at 0x1f9e20ec9d0>,
 <__main__.CountryStat at 0x1f9e20edf50>,
 <__main__.CountryStat at 0x1f9e20ee490>,
 <__main__.CountryStat at 0x1f9e205d110>,
 <__main__.CountryStat at 0x1f9e20dedd0>,
 <__main__.CountryStat at 0x1f9e20de9d0>,
 <__main__.CountryStat at 0x1f9e20df650>,
 <__main__.CountryStat at 0x1f9e20eb790>,
 <__main__.CountryStat at 0x1f9e20eb7d0>,
 <__main__.CountryStat at 0x1f9e20e9010>,
 <__main__.CountryStat at 0x1f9e20e9c50>,
 <__main__.CountryStat at 0x1f9e20e8b90>,
 <__main__.CountryStat at 0x1f9e20f1110>,
 <__main__.CountryStat at 0x1f9e20f3390>,
 <__main__.CountryStat at 0x1f9e20f3350>,
 <__main__.CountryStat at 0x1f9e20f0790>,
 <__main__.CountryStat at 0x1f9e20a5650>,
 <__main__.CountryStat at 0x1f9e20a5910>,
 <__main__.CountryStat at 0x1f9e20a4610>,
 <__main__.CountryStat at 0x1f9e20a7290>,
 <__main__.CountryStat at 0x1f9e20a6d10>,
 <__main__.CountryStat at 0x1f9e20a4c50>,
 <__main__.CountryStat at 0x1f9e20a4d50>,
 <__main__.CountryStat at 0x1f9e20a7dd0>,
 <__main__.CountryStat at 0x1f9e1e3aa90>,
 <__main__.CountryStat at 0x1f9e20a8e50>,
 <__main__.CountryStat at 0x1f9decdf950>,
 <__main__.CountryStat at 0x1f9e1e25b10>,
 <__main__.CountryStat at 0x1f9e1e09550>,
 <__main__.CountryStat at 0x1f9e1324ad0>,
 <__main__.CountryStat at 0x1f9e21d0710>,
 <__main__.CountryStat at 0x1f9e21d3a90>,
 <__main__.CountryStat at 0x1f9e21d0650>,
 <__main__.CountryStat at 0x1f9e21d0c10>,
 <__main__.CountryStat at 0x1f9e21d10d0>,
 <__main__.CountryStat at 0x1f9e21d1790>,
 <__main__.CountryStat at 0x1f9e21d0a10>,
 <__main__.CountryStat at 0x1f9e21d2490>]